$primary-text: #000000;
$light: #ffffff;

$primary-main: #ff0101;
$primary-main-500: #ff0000;
$primary-main-700: #e60000;

$grey-800: #282d30;
$grey-900: #020203;
$grey-700: #74798c;
$grey-200: #e5e5e5;
$grey-100: #fbfbfb;
